<!DOCTYPE html>
<html>

<head>
    <title>Star Wars Characters</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
    <h1>
        <%= name %>
    </h1>

    <div class='character-info'>
        <div>
            <span class='key'>Height:</span>
            <span class='value'><%= height %></span>
        </div>
        <div>
            <span class='key'>Mass:</span>
            <span class='value'><%= mass %></span>
        </div>
        <div>
            <span class='key'>Hair Color:</span>
            <span class='value'><%= hair_color %></span>
        </div>
        <div>
            <span class='key'>Eye Color:</span>
            <span class='value'><%= eye_color %></span>
        </div>
        <div>
            <span class='key'>Birth Year:</span>
            <span class='value'><%= birth_year %></span>
        </div>
        <div>
            <span class='key'>Gender:</span>
            <span class='value'><%= gender %></span>
        </div>
    </div>
</body>

</html>